@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');

.readyBlock {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: white;
  background: rgb(69, 163, 229);
}
