@import '../../../styles/colors';
@import '../../../styles/fonts';

.question {
  font-family: $primary-font;
  line-height: 1.6;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 0.1875rem solid rgba(0, 0, 0, 0.15);
}

.controls {
  background: $background-color-white;
  padding: 10px;
}

.answers {
  font-size: 2.4rem;
  font-weight: bold;
  color: $color-white;
  background: $background-color-white;
  border-bottom: 0.1875rem solid rgba(0, 0, 0, 0.15);

  div {
    min-height: 15vh;
    border: 0.1rem solid $color-white;
    padding: 0.5rem;
  }
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font;
  font-size: 4rem;
  font-weight: bold;
  color: $color-white;
  padding: 1.5rem;
  min-height: 10rem;
  min-width: 10rem;
  border-radius: 50%;
  background-color: $background-color-light-purple;
  text-align: center;
}

.right {

  .answersCounter {
    display: flex;
    flex-direction: column;
    min-width: 6rem;
    align-items: center;
    font-family: $primary-font;
    font-weight: 900;
    color: $color-black;
  }

  .count {
    font-size: 4rem;
  }

  .answer {
    font-size: 4rem;

    span {
      margin: 0 auto;
    }
  }

}

.red {
  background-color: $color-answer-red;
}

.blue {
  background-color: $color-answer-blue;
}

.orange {
  background-color: $color-answer-orange;
}

.green {
  background-color: $color-answer-green;
}

svg.icons {
  color: $color-white;
  font-size: 4rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 420px) {
  .question {
    font-size: 0.8rem;
  }

  .right {
    .answer {
      font-size: 3rem;
    }

    .count {
      font-size: 3rem;
    }
  }

  .time {
    font-size: 3rem;
  }
}
