@import '../../../styles/colors';
@import '../../../styles/fonts';

.home {
  height: 100vh;
  background-color: $background-color-blue;
  animation: home-background 14s ease 0s infinite alternate none running;
}

.mainTitle {
  color: $color-white;
  font-family: $main-logo;
  font-size: 10rem;
  text-align: center;
  padding-bottom: 1rem;
  margin: 0 auto;
  min-width: 10rem;
}

@keyframes home-background {
  25% {background: $background-transition-color-blue;}
  50% {  background: $background-transition-color-green;}
  75% {background: $background-transition-color-yellow;}
  100% {background: $background-transition-color-orange;}
}

.verticalMainForm {
  max-width: 25.5rem;
}

.error {
  display: table-cell;
  background-color: $color-red;
  color: $color-white;
  border-radius: 0.4rem;
  vertical-align: middle;
  text-align: center;
  padding: 1rem 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  min-height: 6rem;
  margin-top: 2rem;
}

.enterBtn > span {
  margin: 0 auto;
}

.createQuiz {
  color: $color-white;
  font-size: 1.6rem;
}
