@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.home {
  height: 100vh;
  background-color: $background-color-blue;
  animation: 14s ease 0s infinite alternate none running home-background;
}

.main-title {
  color: $color-white;
  font-family: $main-logo;
  font-size: 100px;
  padding-bottom: 1rem;
  margin: 0;
}

@keyframes home-background {
  25% {background: $background-transition-color-blue;}
  50% {  background: $background-transition-color-green;}
  75% {background: $background-transition-color-yellow;}
  100% {background: $background-transition-color-orange;}
}

span {
  margin: 0 auto !important;
}

p {
  font-size: 1.6rem;
}
