@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');

.status {
  font-size: 2rem;
  padding: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  border-bottom: 0.3rem solid rgba(0, 0, 0, 0.15);
}
