@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700i&display=swap');

.mainInfo {
  background-color: rgb(102, 191, 57);
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.in {
  font-size: 4rem;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
}

.name {
  font-size: 2rem;
  text-align: center;
}
