@import '../../../styles/colors';
@import '../../../styles/fonts';

.mainInfo {
  background-color: $color-light-green;
  color: $color-white;
  font-family: $primary-font;
  font-weight: 800;
}

.in {
  font-size: 4rem;
  font-family: $secondary-font;
  font-style: italic;
}

.name {
  font-size: 2rem;
  text-align: center;
}
