@import '../../../styles/colors';
@import '../../../styles/fonts';

.title {
  font-family: $primary-font;
  font-size: 1.8rem;
  font-weight: 800;
  border-bottom: 0.3rem solid rgba(0, 0, 0, 0.15);
}

.main {
  font-family: $secondary-font;
  font-size: 4rem;
  font-weight: 800;
  color: $color-white;
  background: $background-color-orange;
  border-bottom: 0.3rem solid rgba(0, 0, 0, 0.15);
}

.questions {
  font-size: 3.2rem;
}

@media only screen and (max-width: 420px) {
  .title {
    font-size: 1rem;
  }
}
