$background-color-blue: rgb(69, 163, 229);
$background-color-yellow: rgb(243, 211, 51);
$background-color-orange: rgb(247, 142, 86);
$background-transition-color-blue: rgb(65, 196, 222);
$background-transition-color-green: rgb(140, 199, 63);
$background-transition-color-yellow: rgb(243, 211, 51);
$background-transition-color-orange: rgb(247, 142, 86);

$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-red: rgb(255, 51, 84);
$color-light-green: rgb(102, 191, 57);

$color-correct: rgb(138, 195, 74);
$color-incorrect: rgb(244, 67, 54);
