@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');

.question-block {
  background: rgb(65, 196, 222);
}

.question-tracker {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 3rem;
  top: 0;
  left: 0;
  position: fixed;
  padding: 20px;
}

.main-question {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  font-size: 2rem;
  background: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
