@import '../../../styles/colors';
@import '../../../styles/fonts';

.main {
  height: 100vh;
  background-color: $background-color-blue;
  animation: home-background 14s ease 0s infinite alternate none running;
}

@keyframes home-background {
  25% {background: $background-transition-color-blue;}
  50% {  background: $background-transition-color-green;}
  75% {background: $background-transition-color-yellow;}
  100% {background: $background-transition-color-orange;}
}

.logo {
  color: $color-white;
  font-family: $main-logo;
  font-size: 8rem;
  margin: 0;
}

.statusBar {
  border-bottom: 0.1875rem solid rgba(0, 0, 0, 0.15);
}

.title {
  background-color: $color-white;
  z-index: 3;
  padding: 3rem;
  margin: 5rem;

  .join {
    font-size: 3.6rem;
  }

  .gamePin {
    font-size: 2.4rem;
  }

  .pin {
    font-size: 5.25rem;
    font-weight: 900;
  }
}

.left {
  display:flex;
  justify-content: flex-start;

  .playersCounter {
    display: flex;
    flex-direction: column;
    min-width: 6rem;
    align-items: center;
    justify-content: flex-start;
    font-family: $primary-font;
    font-weight: 900;
    color: $color-white;

    .count {
      font-size: 4rem;
    }

    .player {
      font-size: 2.4rem;

      span {
        margin: 0 auto;
      }
    }
  }
}

.names {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.6rem;
  font-family: $primary-font;
  font-weight: bold;
  padding: 20px 50px;
  font-size: 2.4rem;
  color: $color-white;
}

.startBtn {
  font-size: 1.6rem;
  min-height:4.8rem;
  max-width: 5.2rem;
  padding: 1.6rem;

  span {
    margin: 0 20px;
    font-weight: bold;
  }
}

.music {
  top: 0;
  right: 0;
  position: fixed;

  button {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin: 0.2rem;

    svg {
      height: 2.4rem;
      width: 2.4rem;
    }
  }
}
