@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');
@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.main {
  height: 100vh;
  background-color: $background-color-blue;
  animation: 14s ease 0s infinite alternate none running home-background;
}

@keyframes home-background {
  25% {background: $background-transition-color-blue;}
  50% {  background: $background-transition-color-green;}
  75% {background: $background-transition-color-yellow;}
  100% {background: $background-transition-color-orange;}
}

.logo {
  color: $color-white;
  font-family: $main-logo;
  font-size: 8rem;
  margin: 0;
}

.title {
  border-bottom: 0.1875rem solid rgba(0, 0, 0, 0.15);

  .join {
    background-color: white;
    z-index: 3;
    margin: 50px 50px 0px 50px;
    padding: 30px;
    font-weight: 900;
  }

  .pin {
    background-color: white;
    z-index: 3;
    padding: 30px;
    margin: 0px 50px 50px 50px;
    font-size: 8rem;
    font-weight: 900;
  }
}

.players-count {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.names {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 20px 50px;
  font-size: 2.4rem;
  color: white;
}

.start-btn {
  font-size: 1.6rem;
  min-height: 4.8rem;

  span {
    margin: 0 20px;
    font-weight: bold;
  }
}

.music {
  top: 0;
  right: 0;
  position: fixed;
}
